.Rproj.user
.Rhistory
.RData
.Ruserdata
Coursera_DS_course3_Getting_and_Cleaning_Data/week_1/data/download_microdata_survey.csv
Coursera_DS_course3_Getting_and_Cleaning_Data/week_1/data/housing.csv
DS_Course4_ExploratoryDataAnalysis/week1/course_project_1/exdata_data_household_power_consumption.zip
DS_Course4_ExploratoryDataAnalysis/week1/course_project_1/household_power_consumption.txt
DS_Course4_ExploratoryDataAnalysis/week4/exdata_data_NEI_data/Source_Classification_Code.rds
DS_Course4_ExploratoryDataAnalysis/week4/exdata_data_NEI_data/summarySCC_PM25.rds
04_ExploratoryAnalysis/week1/course_project_1/exdata_data_household_power_consumption.zip
04_ExploratoryAnalysis/week1/course_project_1/household_power_consumption.txt
.~lock.activity.csv#
05_ReproducibleResearch/data_input
05_ReproducibleResearch/course_project_1/RepData_PeerAssessment1/data_input
repdata_data_StormData.csv
stormDT.csv.bz2
